<% theme.widgets.forEach(function(widget){ %>
  <%- partial('../_widget/' + widget) %>
<% }); %>
<% if(page && page.content) { %>
<div id="toc" class="toc-aside">
  <%- toc(page.content) %>
</div>
<% } %>

